<ion-content>
  <ion-grid>
    <ion-row justify-content-center>
      <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
        <div padding>
          <ion-input type="text" placeholder="Identifiant" [(ngModel)]="identifiant"></ion-input>
          <ion-input type="password" placeholder="Password" [(ngModel)]="password"></ion-input>
        </div>

        <div padding>
          <ion-button (click)="logIn()" expand="block">Connection</ion-button>
          <ion-button (click)="redirectToRegisterPage()" expand="block">S'inscrire</ion-button>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>